Repository ansys/hollerith, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, dependencies

relese: v0.5.1
  src/_version.py
Labels: none

ci: remove failing docker layer caching - unnecessary
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: release to GitHub failing
  .github/workflows/ci_cd.yml
Labels: maintenance

ci: remove failing docker layer caching - unnecessary (#39)
  .github/workflows/ci_cd.yml
Labels: maintenance

release: v0.5.2
  src/_version.py
Labels: none

add support for 3.13
  .github/workflows/ci_cd.yml
Labels: maintenance

update cibuildwheel
  pyproject.toml
Labels: maintenance

test: using dev branch to check compatibility
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: numpy 1.26 does not support Python 3.13
  .github/workflows/ci_cd.yml
Labels: maintenance

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

add support for 3.13 (#41)
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

Bump version 0.6.0
  src/_version.py
Labels: none

bump dev version to 0.7.dev0
  src/_version.py
Labels: none

bump dev version to 0.7.dev0 (#42)
  src/_version.py
Labels: none

Add Guard Statement to large number.
  src/writer.c
Labels: none

fix: python versions
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: linting
  .github/labels.yml
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .pre-commit-config.yaml
  LICENSE
  README.rst
  doc/source/conf.py
  pyproject.toml
  setup.py
  src/__init__.py
  src/_version.py
  src/_writer.pyx
  src/field.py
  src/table.py
  tests/test_errors.py
  tests/test_field_writer.py
  tests/test_float_writer.py
  tests/test_table_writer.py
Labels: documentation, maintenance, testing

fix: linting
  .pre-commit-config.yaml
  doc/source/conf.py
  pyproject.toml
  src/table.py
  tests/test_errors.py
  tests/test_float_writer.py
  tests/test_table_writer.py
Labels: maintenance, testing

fix: docs build
  .github/workflows/ci_cd.yml
  setup.py
Labels: maintenance

fix: license
  tests/test_table_writer.py
Labels: testing

fix: deps
  pyproject.toml
Labels: maintenance

chore: add files
  .flake8
  .github/workflows/ci_cd.yml
  CODE_OF_CONDUCT.md
  Makefile
  SECURITY.md
Labels: maintenance

feat: add cvulnerability
  .github/workflows/ci_cd.yml
Labels: maintenance

feat: add throw write error
  .github/dependabot.yml
  src/_writer.pyx
  src/writer.c
Labels: maintenance

feat: add throw write error
  tests/test_errors.py
Labels: testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
  - any-glob-to-any-file: 'README.rst'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
  - any-glob-to-any-file: 'setup.py'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
dependencies:
- changed-files:
  - any-glob-to-any-file:  'requirements/*'
