Repository ansys/hollerith, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- setup.py
- pyproject.toml
dependencies:
- requirements/*

enable mapping of docs to dependent lib
  doc/source/conf.py
  src/_writer.pyx
  src/table.py
Labels: documentation

correct mapping to the github
  .gitignore
  doc/source/conf.py
Labels: documentation

add inline quote to attributes
  doc/source/API/write.rst
  src/__init__.py
  src/_writer.pyx
Labels: documentation

Uncomment the twine upload
  .github/workflows/ci_cd.yml
  doc/source/api_reference.rst
Labels: documentation, maintenance

Update requirements/requirements_test.txt
  requirements/requirements_test.txt
Labels: dependencies

Modify gitignore and doc strings (#10)
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
  .gitignore
  doc/source/api_reference.rst
  doc/source/conf.py
  requirements/requirements_docs.txt
  src/_writer.pyx
  src/table.py
Labels: documentation, maintenance, dependencies
