Repository ansys/hollerith, pull requests merged in 2022-11, with the labels that each got.

#16 Feat: doc fix
  .github/workflows/ci_cd.yml
  README.rst
  doc/Makefile
  doc/make.bat
  doc/source/conf.py
  doc/source/index.rst
Labels: documentation, enhancement, maintenance, NEW FEATURE

#18 Ci cd fix
  .github/workflows/ci_cd.yml
  setup.py
Labels: bug, maintenance

#19 Add new token for the pypi release
  .github/workflows/ci_cd.yml
Labels: maintenance, CI/CD

#21 Change source import for flake8
  .pre-commit-config.yaml
Labels: maintenance
