Repository ansys/hollerith, pull requests merged in 2024-07, with the labels that each got.

#27 Update version
  .github/workflows/ci_cd.yml
  pyproject.toml
  setup.py
  src/__init__.py
  src/_version.py
Labels: documentation, dependencies, maintenance

#29 feat: show wheel locations and fix wheel issues
  .github/workflows/ci_cd.yml
Labels: enhancement, maintenance, NEW FEATURE

#33 Fix print issue
  src/writer.c
  tests/test_table_writer.py
Labels: bug, testing
