Repository ansys/hollerith, pull requests merged in 2024-11, with the labels that each got.

#31 fix: upgrade the actions to ansys actions
  .github/workflows/ci_cd.yml
  README.rst
  requirements/requirements_doc.txt
Labels: documentation, dependencies, maintenance

#35 upgrade cython and downgrade numpy
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  pyproject.toml
  setup.py
Labels: documentation, maintenance

#36 fix: artifact naming convention for ansys/actions
  .github/workflows/ci_cd.yml
Labels: bug, maintenance

#37 ci: improvements to doc build and wheel artifacts
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
  doc/Makefile
  doc/make.bat
  doc/source/_templates/sidebar-nav-bs.html
  requirements/requirements_doc.txt
Labels: bug, documentation, dependencies, maintenance

#39 ci: remove failing docker layer caching - unnecessary
  .github/workflows/ci_cd.yml
Labels: maintenance, CI/CD
